h1 { color:#756158;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 80px;
    text-align: center;
    margin: 0;
    padding-top: 30px;
    
}
h2 { color:#756158;
    font-family: 'Playfair Display', serif;
    font-style:italic;
    font-size: 48px;
    text-align: center;
    margin-top: 0;
}
h3 { 
    color:#756158;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 24px;
    margin-top: 30px;

} 


a {
    color:#756158;
    font-style: italic;
}


body {color:#282425;
    background-color:#fff1e6;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    cursor:url("https://images.vexels.com/media/users/3/256665/isolated/preview/c3889c2fd69b08dbd9e962b87c0d0e2b-guinea-pig-with-leaf-in-mouth-doodle.png"), pointer;
}


.fotogaleria, 
.kontakt {
    background-color: #f9e3d0;
}

.paticka {
    background-color: #282425;
    color: antiquewhite;
    text-align: center;
    padding: 20px 0;
}

.instagram {
    text-align: center;
    
}

.foto-onas {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    float: left;
    margin: 0 30px 30px 0;

}

.fotogaleria img {
    width: 32%;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.instagram img {
    border-radius: 10px;
    
}

.kontakt img {
    border-radius: 50px 0 50px 50px;
    float: left;
    margin: 0 30px 30px 0;
}

table {
    border-spacing: 0;
}
th,
td {
    text-align: left;
    border-bottom: 1px solid #756158;
    padding: 10px 0;
}

.cena {
    text-align: left;
    padding-left: 100px;
}

section {
    padding: 50px 15%;
}

.hlavicka {
    background-image: url(obrazkymorc/title.jpg);
    padding: 150px 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
}

.menu {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:burlywood;

        
}
.menu li {
    display: inline-block;
}

.menu a{
    display:inline-block;
    color: #282425;
    text-decoration: none;
    padding: 20px 30px;
}

.menu a:hover
 {
    background-color: antiquewhite;
}